<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="https://www.javainuse.com" class="navbar-brand">Project</a></div>

    <ul class="navbar-nav">
      <li><a  routerLink="/" class="nav-link">View Users</a></li>
      <li><a  routerLink="/adduser" class="nav-link">Add New User</a></li>

    </ul>

  </nav>

</header>
