<div class="col-md-6">
  <h2 class="text-center">Add User</h2>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" [(ngModel)]="user.name" placeholder="Name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="sname">Surname:</label>
      <input [(ngModel)]="user.sname" placeholder="Sname" name="sname" class="form-control" id="sname">
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input [(ngModel)]="user.age" placeholder="Age" name="age" class="form-control" id="age">
    </div>

    <button class="btn btn-success" (click)="createUser()">Create user</button>
  </form>
</div>
