<div class="col-md-6">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>name</th>
      <th>sname</th>
      <th>age</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.sname}}</td>
      <td>{{user.age}}</td>
      <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>
    </tr>
    </tbody>
  </table>

</div>
